{% extends "layout.html.twig" %}
{% block title %}{{reservation.id }}{% endblock %}
{% block content %}
<p>
    {% for ligue in ligues %}
    <article><h3>Reservation : </h3>
        <h2>{{ ligue.reservation.id }}</h2><br/>
    {{ ligue.reservation.date }}<br/>
    {{ ligue.reservation.heureDebut }}<br/>
    {{ ligue.reservation.heureFin }}
    </article>
    <article>
    <h3>Ligue : </h3>
        <strong>{{ ligue.id }}</strong> - {{ ligue.label }}<br>
    </article> 
    {% endfor %}
</p>
{% endblock %}