{% extends "layout.html.twig" %}
{% block title %}{{reservation.id }}{% endblock %}
{% block content %}
<p>
    {% for ligue in ligues %}
    <article><h3>Réservation : {{ ligue.reservation.id }} </h3>
    {{ ligue.reservation.date }}<br/>
    {{ ligue.reservation.heureDebut }}<br/>
    {{ ligue.reservation.heureFin }}
    </article>
    <article>
    <h3>Ligue : </h3>
        <strong>{{ ligue.id }}</strong> - {{ ligue.label }}<br>
    </article> 
    {% endfor %}
    
     <h3>Add a comment</h3>
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        Soon!
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
    
</p>
{% endblock %}